@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
/*	background:#000000*/
	background: url("img/CSS background Animation.png") ;
}
.container{
	width: 100%;
}
.logo img{
	width: 350px;
}
.logo{
/*	background: #6A1617;*/
	display: flex;
	justify-content: center
}
.photo img{
	width: 600px	
}
.menu{
	display: flex;
	align-items: flex-end;
	
}
.menu ul{
	font-size: 70px;
	
	color: burlywood;
	padding: 150px 0;
	
	
}
.menu ul li a{
	text-decoration: none;
	color:burlywood;
	font-family: 'Shrikhand', cursive;
	
 	line-height: 19px;
  	letter-spacing: 3px;
 	text-transform: uppercase;
 	transition: 1s; 
	
}
.menu a:hover {
    color:#13AAFF; }
.anh{
	padding: 100px 0 0 0;
	display: flex;
	text-align: center;
	justify-content: center
}
.anh1{
	padding: 0 20px;
	height: 700px;
	
}
.anh2{
	height: 700px;
	padding: 0 20px;
}
.anh3{
	height: 700px;
	padding: 0 20px;
}
.a1 a{
	padding: 10px 50px;
	font-size: 30px;
	color:burlywood;
	text-decoration: none;
	background: #292929;
	font-family: 'Shrikhand', cursive;
	border-radius: 5px
}
.a2 a{
	padding: 10px 50px;
	font-size: 30px;
	color:burlywood;
	text-decoration: none;
	background: #292929;
	font-family: 'Shrikhand', cursive;
	border-radius: 5px
}
.a3 a{
	padding: 10px 50px;
	font-size: 30px;
	color:burlywood;
	text-decoration: none;
	background: #292929;
	font-family: 'Shrikhand', cursive;
	border-radius: 5px;
	
}
.a1{
	filter: drop-shadow(0 0 20px aqua);	
}
.a2{
	display: flex;
	justify-content: center;
	filter: drop-shadow(0 0 20px aqua);	
	
}
.a3{
	display: flex;
	justify-content:flex-end;
	filter: drop-shadow(0 0 20px aqua);	
}
.banner{
	background:black;
}
.abc{
	display: flex;
	justify-content:space-between
}
.adc{
	padding:400px 0 0px 0;
	height:100vh;
	background: black;
}

.imga1 img{
	width: 500px;
	height: 750px;	
	margin-left: 650px;
	margin-top: -600px;
	filter: drop-shadow(0 0 20px aqua);	
	transition: all 2s;
}
.imga1 img:hover{
	transform: scale(1.5)
}
.imga1 h{
	color: white;
	font-size:60px;
	margin-left: 200px;
	font-family: 'Shrikhand', cursive;
	transition-duration: 1s;
	filter: drop-shadow(0 0 20px aqua);	

}
.imga1 h:hover{
	color: aqua;
}
.imga1 p{
	
	color: #15c0f2;
	font-size:30px;
	margin-right: 700px ;
	font-family: 'Shrikhand', cursive;
	
}
.acc{
	padding: 0px;
	height: 100vh;
	background:black;
	
}
.img3 img{
	padding: 20px;
	width: 350px;;
	height: 450px;
	margin-left: 900px;
	margin-top: -350px;
	filter: drop-shadow(0 0 20PX aqua);
}
.img3 img{
	transition: all 2s;
}
.img3 img:hover{
	transform: scale(1.4)
}

.img3 p{
	padding: 20px;
	color: white;
	font-size: 25px;	
	font-family: 'Shrikhand', cursive;
	margin-top: 10px;
	margin-right: 700px;

}
.img3 h{
	padding: 20px;
	color: aqua;
	font-size: 50px;
	font-family: 'Shrikhand', cursive;
}


